@using StageL2.Views.Societe
@using Oracle.ManagedDataAccess.Client
@{
    ViewData["Title"] = "DeleteSte";
    FonctionSociete user4 = new FonctionSociete();
    var code = ViewBag.Message;
    OracleDataReader sql = user4.GetSte(code);
    sql.Read();
}

<div class="container">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" id="ajout"><h3 class="panel-title">Supression societe</h3></div>
            <div class="panel-body">
                <div class=" form">
                    <form class="cmxform form-horizontal tasi-form" action="~/Societe/SupprimerSte" method="post">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            Voulez-vous supprimer définitivement cette société?
                        </div>
                        <div class="form-group ">
                            <label for="code" class="control-label col-lg-2">Code société</label>
                            <div class="col-lg-10">
                                <input class=" form-control" name="code" type="text" value="@sql.GetString(0)" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="nom" class="control-label col-lg-2">Libelle</label>
                            <div class="col-lg-10">
                                <input class=" form-control" name="lib" type="text" value="@sql.GetString(1)" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="code_prest" class="control-label col-lg-2">Type client</label>
                            <div class="col-lg-10">
                                <input class="form-control " name="type" type="text" value="@sql.GetString(2)" required="">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="date" class="control-label col-lg-2">Adressse</label>
                            <div class="col-lg-10">
                                <input class="form-control " name="adr" type="text" value="@sql.GetOracleValue(3)" placeholder="User medecin">
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="date" class="control-label col-lg-2">Date</label>
                            <div class="col-lg-10">
                                <input class="form-control " name="date" type="text" placeholder="jj/mm/aaaa" value="@sql.GetOracleValue(4)" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input type="submit" value="Supprimer" class="btn btn-info ">
                                <a href="~/Societe/Index"><input type="button" value="Annuler" class="btn btn-default waves-effect waves-lignt"></a>
                            </div>
                        </div>
                    </form>
                </div> <!-- form -->
            </div> <!-- panel-body -->
        </div> <!-- panel -->
    </div> <!-- col -->
</div><!-- container ajout-->
