@using System.Data
@using StageL2.Views.Excel
@{
    ViewData["Title"] = "AfficherTable";
    var nomfichier = ViewBag.Message1;
    var nomfeuil = ViewBag.Message;
    FonctionExcel vers1 = new FonctionExcel();
    DataTable table = vers1.Readfile(nomfichier, nomfeuil);
}

<h2>AfficherTable</h2>
 <table class="table-dark">
     
 @for (int i = 0; i < table.Rows.Count; i++)
 {
     <tr>

         <td>@table.Rows[i]["NUMERO"].ToString()</td>
         <td>@table.Rows[i]["MATR"].ToString()</td>
         <td>@table.Rows[i]["ETAB"].ToString()</td>
         <td>@table.Rows[i]["IDENTIFIANT"].ToString()</td>
         <td>@table.Rows[i]["STE"].ToString()</td>
         <td>@table.Rows[i]["TYPE_CLI"].ToString()</td>
         <td>@table.Rows[i]["TYPAT"].ToString()</td>
         <td>@table.Rows[i]["CODE_ACT"].ToString()</td>
         <td>@table.Rows[i]["CODE_PREST"].ToString()</td>
         <td>@table.Rows[i]["NAT_CONSULT"].ToString()</td>
         <td>@table.Rows[i]["SA"].ToString()</td>
         <td>@table.Rows[i]["NOM"].ToString()</td>
         <td>@table.Rows[i]["DNAIS"].ToString()</td>
         <td>@table.Rows[i]["ADRESSE"].ToString()</td>
         <td>@table.Rows[i]["SEXE"].ToString()</td>
         <td>@table.Rows[i]["AGE"].ToString()</td>
         <td>@table.Rows[i]["DFREQ"]</td>
     </tr>
 }
</table>